* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1d3557, #457b9d);
    min-height: 100vh;
    color: #fff;
    transition: 0.3s;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.logo {
    width: 130px;
    border-radius: 10px;
}

.nav-title {
    font-size: 28px;
    font-weight: 600;
}

.nav-right a {
    text-decoration: none;
    margin-left: 20px;
    color: white;
}

#themeToggle {
    margin-left: 20px;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #e63946;
    color: white;
}


.search-section {
    text-align: center;
    margin-top: 80px;
}

.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-box input {
    padding: 14px;
    width: 300px;
    border-radius: 8px;
    border: none;
}

.search-box button {
    padding: 14px 25px;
    background: #e63946;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
    width: 220px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}


.dark {
    background: #0d1117;
    color: #e6edf3;
}

.dark .navbar {
    background: rgba(0, 0, 0, 0.6);
}

.dark .search-box input {
    background: #161b22;
    color: white;
}

.dark .card {
    background: rgba(0, 0, 0, 0.6);
}
.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
    width: 220px;
}